# Install the correct PyTorch depending on your CUDA version, else fallback to CPU-only
# --extra-index-url https://download.pytorch.org/whl/cu124
# torch==2.6.0
# torchvision==0.21.0
# torchaudio==2.6.0
gradio
pandas
langchain
langchain-chroma
langchain-huggingface
langchain-community
langchain-experimental
langchain-core
langchain-ollama
chromadb
sentence-transformers
rank_bm25
aiohttp
beautifulsoup4
tqdm
python-dotenv
einops
